<section class="section-form">
    <div class="box__text">
<h2>Fique por dentro de tendências</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget temp</p>
    </div>

    <div class="box__form">
        <form action="">
            <div class="box__form-input">
            <label for="Nome">Name</label>
            <input type="text">
        </div>


    <div class="box__form-input">
            <label for="Email">Email</label>
            <input type="email">
        </div>

    </form>

    <div class="box__form-submit">
    <a href="#" class="btn-submit">se inscreva</a>
</div>
</div>
</section>
