footer {
.box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.box-footer .icon {
    padding: 3px;
    cursor: pointer;
}
.box-footer .icon:hover {
   background-color: #b1b1b1;
   border-radius: 40px;
}
}